@tailwind base;
@tailwind components;
@tailwind utilities;

.aqua {
  color: #64ffda;
}

.grayish-text {
  color: #ccd6f6;
}

.dark-grayish-text {
  color: #8892b0;
}

.fade-in-animation {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
