.aqua {
  color: #64ffda;
}

.grayish-text {
  color: #ccd6f6;
}

.dark-grayish-text {
  color: #8892b0;
}

.about-fade-in-style {
  visibility: visible;
  opacity: 1;
  animation-delay: 250ms;
  animation: fadeIn 2.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
